# Server Configuration
PORT=5002
NODE_ENV=development

# Database
MONGODB_URI=mongodb+srv://info_db_user:Aat%402026%23%40@cluster0.gvjfwvw.mongodb.net/?appName=Cluster0

# JWT Configuration
JWT_SECRET=your_jwt_secret_key_here_min_32_chars
JWT_EXPIRE=24h
JWT_REFRESH_SECRET=your_jwt_refresh_secret_key_here_min_32_chars
JWT_REFRESH_EXPIRE=7d

# CORS
CLIENT_URL=http://localhost:5173

# Email SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
FROM_NAME=Messbee
FROM_EMAIL=noreply@messbee.com

# File Upload
MAX_FILE_SIZE=5242880
UPLOAD_PATH=./uploads

# Socket.IO
SOCKET_PORT=5001

# Meta & WhatsApp Configuration
WHATSAPP_PHONE_NUMBER_ID=your_phone_number_id_here
WHATSAPP_ACCESS_TOKEN=your_permanent_access_token_here
WHATSAPP_BUSINESS_ACCOUNT_ID=your_business_account_id_here
WHATSAPP_API_VERSION=v20.0
WHATSAPP_APP_ID=1401700501230008
WHATSAPP_APP_SECRET=your_app_secret_here

# Meta App Configuration for WhatsApp Embedded Signup & Facebook Login
FB_LOGIN_APP_ID=921773847630961
META_APP_ID=1401700501230008
META_CONFIG_ID=3478777475636588

# Webhook Configuration
WHATSAPP_VERIFY_TOKEN=your_secure_verify_token_here
META_WEBHOOK_VERIFY_TOKEN=your_secure_verify_token_here
META_APP_SECRET=your_app_secret_here

# Google OAuth Configuration
GOOGLE_CLIENT_ID=your_google_client_id_here

PRODUCTION_API_URL=https://webservices.messbee.com